<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
	<add key="APIKey" value="AIzaSyCvO0AHfg1cuND1KXbw3t5xZr5p4PVrEk4"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="GenCartDATA" connectionString="data source=EC2AMAZ-ICGRQ8D\MSSQLSERVER2019;integrated security=false;initial catalog=Genericart;user id=Genericart;password=Generic@2021; Connection Timeout=2000" />
    <add name="GenCartDATAEcom" connectionString="Data Source=EC2AMAZ-ICGRQ8D\MSSQLSERVER2019;integrated security=false;initial catalog=GenericartEcom;user id=GenericartEcom;password=Generic@2021; Connection Timeout=2000"/>
  </connectionStrings>
  <system.web>
	  
	<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime executionTimeout="10200" maxRequestLength="2147483647" requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\genericartmedicine.com\tmp">
      <assemblies>
        <!--<add assembly="Microsoft.Web.Infrastructure, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<customErrors mode="On" >
      <error statusCode="404" redirect="page404"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <!--<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>-->
    </httpModules>
    <sessionState timeout="600" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--<add name="BundleModule" type="System.Web.Optimization.BundleModule"/>-->
      <!--Added Later-->
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <httpErrors errorMode="Detailed">
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\genericartmedicine.com\error_docs\bad_gateway.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="HTTP redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Rewrite" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>